@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-100;
  font-family: Rubik, "Rubik";
}

html{
  @apply bg-gray-100;
  font-family: Rubik, "Rubik";
}



@font-face {
  font-family: Rubik;
  src: url(../src/Fonts/Rubik-VariableFont_wght.ttf) format('woff2');
  font-display: swap;
}
.activeClass{
  @apply before:absolute before:bottom-0 before:left-1/2 before:-translate-x-1/2 lg:before:left-1/2 before:w-1/2 lg:before:w-full lg:before:-translate-x-1/2 before:h-1 before:bg-soft-red text-very-dark-blue;
}
.tag:nth-child(1){
  @apply border-t-2 lg:border-none;
}
body::-webkit-scrollbar {
  width: .5rem!important ;
}
body::-webkit-scrollbar-track{
  @apply bg-gray-500;
}
body::-webkit-scrollbar-thumb{
  @apply bg-soft-red;
}